html, body {
	height: 100%;
	background-color: white;
	font-family: 'Lato', sans-serif;
}
.body{
	height: 100%;
	overflow: hidden;
}
p{
	font-family: 'Lato', sans-serif;
}
.body>section{
	height: 100%;
}
.current-chat {
	float: left;
	width: 65px;
	background-color: #282A29;
}
.chat-content>section {
	height: 100%;
}
.left-side {
	float: left;
	background-color: #4D5250;
	width: 200px;
	position: relative;
}
.main{
	overflow: hidden;
}
.current-chat>div {
	text-align: center;
	margin: 15px 0;
	
}
.current-chat a {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #5D5E5D;
	text-decoration: none;

}
.current-chat img {
	width: 35px;
	height: 35px;
	border-radius: 5px;

}
.channels-container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
.edge-padding {
	padding: 5px 15px;
}
.left-side>.user {
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.left-side>.user>div{
	display: flex;
	flex-direction: column;

}
.user h3 {
	font-weight: 900;
	font-size: 20px;
	font-stretch: ultra-condensed;
}
.left-side {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	display: flex;
	flex-direction: column;

}
.left-side .user p{
	font-size: 13px;
}
.left-side .user .user-line
{
	padding-top: 10px;
}
.left-side .user-line i{
	font-size: 14px;
	padding-bottom: 0px;
}
.left-side .fa-circle {
	font-size: 10px;
	padding-bottom: 3px;
	color: #99D04A;
}
.ref-and-button {
	display: flex;
	justify-content: space-between;
}
.left-side .ref-and-button>* {
	color: white;
	display: block;
}
.left-side .ref-and-button>*:hover {
	opacity: 1;
	cursor: pointer;
}
.left-side .user>i{
	opacity: 0.5;
}
.user-line {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.user-line p {
	padding-left: 7px;
}
a {
	text-decoration: none;
}
.left-side a {
	color: white;
}
.main a {
	color: black;
}

.left-side p{
	color: white;
	opacity: 0.5;
}

.theards{
	margin: 7px 0 17px 0;
}

.theards>a{
	display: flex;
	justify-content: flex-start;
}

.theards i {
	font-size: 15px;
	padding-right: 5px;	
}

.hover-line:hover {
	background-color: rgba(0,0,0,0.15);
}
.left-side .ref-and-button i{
	opacity: 0.5;
	
}
.chanels {
	padding-bottom: 10px;
}

.hover-white:hover p {
	opacity: 1;
}
.hover-white:hover {
	cursor: pointer;
}
.channel-list ul li i
{
	opacity: 0.5;
}
.channel-list li {
	padding-left: 3px;
}
.users-list .user-line .fa-times-circle-o {
	visibility: hidden;
	opacity: 0.5;
}
.users-list .user-line .fa-times-circle-o:hover {
	opacity: 0.8;
}
.users-list .hover-line:hover .fa-times-circle-o{
	visibility: visible; 
}
.user-online>i:first-child  {
	font-size: 10px;
    padding-bottom: 3px;
    color: #99D04A;
}
.user-ofline  {
	font-style: italic;
}
.user-ofline>i:first-child {
	font-size: 10px;
    padding-bottom: 3px;
	color: white;
	opacity: 0.5;
}
.users-list .user-line .fa-times-circle-o {
	position: absolute;
	left: auto;
	right: 15px;
}
.users-list .user-line
{
	position: relative;
}
.direct-messages {
	padding: 20px 15px 15px;
}
.apps {
	padding: 20px 15px 15px;
}
.switcher {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	padding-top: 10px;
	margin-top: auto;
}
.switcher .fa-search {
	color: white;
	font-size: 25px;
	opacity: 0.5;
}
.switcher .fa-search:hover {
	opacity: 1;
}

.grid {
	display: grid;
	grid-template-areas: 	"header header"
							"chat info"
							"mess info";
	height: 100%;
	grid-template-columns: minmax(200px, 2fr) minmax(270px, 1fr);
	grid-template-rows: 60px 1fr auto;
}


.channel-header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	
}
.channel-header{
	/* opacity: 0.5; */
	color: #717274;
}
.chat {
	grid-area: chat;
}
.information {
	grid-area: info;
}
.message {
	/* background-color: yellow; */
	grid-area: mess;
}
.channel-name p {
	font-weight: 900;
	font-size: 18px;
}
.channel-name p{
	color: black;
}
.channel-header {
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #e8e8e8;
}
.tool-flex-container {
	display: flex;
	justify-content: flex-start;
}
.tool-flex-container>.separator{
	width: 1px;
	background-color:  #D0D1D2;
	/* border-left: 1px solid #D0D1D2; */
	height: 10px;
	padding: 0 0;
	margin: 5px 0;
}
.tool-flex-container>*{
	/* margin: 0 5px; */
	padding: 5px 8px;
}
.channel-header .yellow-hover:hover {
	color: #ffcc00;
	cursor: pointer;
}
.channel-header .red-hover:hover {
	color: #da3c3f;
	cursor: pointer;
}
.channel-header .blue-hover:hover{
	color: #0576b9;
	cursor: pointer;
}
.chanel-tool{
	display: flex;
	flex-direction: column;
}
.chanel-tool>* {
	margin: auto 0;
}
.tool-flex-container>.tool-button, .tool-flex-container i {
	font-size: 13px;
	font-weight: 500;
}
.tool-flex-container .edit {
	visibility: hidden;
}
.tool-flex-container .edit{
	color: #0576b9;
}
.tool-flex-container .new-topic:hover+.edit {
	visibility: visible;
}
.tool-flex-container .edit:hover{
	visibility: visible;
	text-decoration: underline;
	cursor: pointer;
}
.tool-flex-container .new-topic:hover{
	border-color: #e8e8e8;
	border-radius: 5px;
	cursor: pointer;
}
.tool-flex-container .new-topic{
	border: 1px solid white;
}
.channel-panel {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 22px;
	align-items: center;
}
.search-action>input {
	outline: none;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 250px;
	transition: width 0.1s linear;
}
.search-action>input:focus {
	width: 300px;
}
.search-action {
	
	border: 2px solid #A0A0A2;
	border-radius: 5px;
	height: 30px;
	display: flex;
	align-items: center;
}
.channel-panel>div {
	padding: 5px;
	border-radius: 5px;
}
.search-action .fa-search {
	padding: 8px;
	font-size: 16px;
}
.search-action>input::placeholder {
	color: #a0a0a0;
}
.message-container{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	/* position: relative; */
	margin: 0 20px 18px 18px;
	border: 2px solid #bcbcbe;
	border-radius: 5px;
	outline: none;
}
.message-container>*
{
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 18px; 
}
button {
	background-color: inherit;
	outline: none;
	border: none;
}
.message-container .message-input {
	outline: none;
	width: 100%;
	max-height: 100px;
	overflow-y: auto;
	align-self: center;
	color: black;
	word-break: break-all;
}
.message-container>.add{
	font-size: 20px;
	border-right: 2px solid #bcbcbe;
	align-self: stretch;
	font-weight: bold;
	width: 46px;
}
.message-container>*{
	color: #bcbcbe;
}
[placeholder]:empty:before{
	content:attr(placeholder);
	color: #bcbcbe;
}
.message-container>.add:hover{
	background-color: #56b68b;
	color: white;
}
.message-container>.at>i{
	width: 20px;
	height: 20px;
	background-image: url("../img/email-black.svg");
	background-repeat: no-repeat;
	display: block;
	transition: all 100ms linear;
	margin-top: 3px;
}
.message-container>.at{
	padding-right: 5px;
}
.message-container>.at:hover>i {
	background-image: url("../img/email-blue.svg");
	transform: scale(1.3,1.3);
}
 .message-container>.smile>i {
	width: 20px;
	height: 20px;
	background-image: url("../img/happiness.svg");
	background-repeat: no-repeat;
	display: block;
	transition: all 100ms linear;
	margin-top: 3px;
}
.message-container>.smile{
	padding-left: 5px;
} 
.message-container>.smile:hover>i {
	background-image: url("../img/happy.svg");
	transform: scale(1.3,1.3);
}